<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/openfb.js"></script>
    <script src="js/kevinsez.js"></script>
    <!--<script src="js/app.js"></script> -->
   <!-- <script src="js/painlessfs.js"></script> -->
   
    
    <script>
       
    function onDeviceReady(){
        // Insert code here to set proper directory for devices other than iOS or Android.
        //console.log('zero');
        
        
    }
    


    
   


        </script>
  </head>
 <body ng-app="kevnav" ng-controller="MainCtrl">


<ion-nav-bar class="bar-energized">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">&nbsp;Back&nbsp;</ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view></ion-nav-view>


<script id="templates/tabs.html" type="text/ng-template">
    <ion-tabs class="tabs-icon-top tabs-assertive">
    
    <ion-tab title="Home" icon="ion-home" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="About" icon="ion-beer" href="#/tab/about">
    <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Play Random" icon="ion-play" ng-click="playRandAudio()">
    <ion-nav-view name="contact-tab"></ion-nav-view>
    </ion-tab>
    
    <!--<ion-tab title="Stop Audio" icon="ion-stop" ng-click="stopAudio()">
    <ion-nav-view name="contact-tab"></ion-nav-view>
    </ion-tab>-->
    
    <ion-tab title="Contact" icon="ion-chatbox-working" ui-sref="tabs.contact">
    <ion-nav-view name="contact-tab"></ion-nav-view>
    </ion-tab>
    
    </ion-tabs>
</script>

<script id="templates/home.html" type="text/ng-template">
    <ion-view view-title="Kevin Sez">
    <ion-content class="padding">
    <h4>Kevvo Categories</h4>
    <div class="row">
    <div class="col"><a class="button icon icon-right ion-waterdrop button-block button-small" href="#/tab/bodyslimes">Body slimes</a></div>
    <div class="col"><a class="button icon icon-right ion-sad button-block button-small" href="#/tab/jammingfingers">Jamming fingers</a></div>
    </div>
    <div class="row">
    <div class="col"><a class="button icon icon-right ion-camera button-block button-small" href="#/tab/feet">Feet</a></div>
    <div class="col"><a class="button icon icon-right ion-umbrella button-block button-small" href="#/tab/cleaningareas">Cleaning areas</a></div>
    </div>
    <div class="row">
    <div class="col"><a class="button icon icon-right ion-heart-broken button-block button-small" href="#/tab/ticklecloset">Tickle Closet</a></div>
    <div class="col"><a class="button icon icon-right ion-videocamera button-block button-small" href="#/tab/sleeping">Sleeping</a></div>
    </div>
    <div class="row">
    <div class="col"><a class="button icon icon-right ion-music-note button-block button-small" href="#/tab/singing">Singing</a></div>
    <div class="col"><a class="button icon icon-right ion-eye button-block button-small" href="#/tab/watchingafar">Watching from afar</a></div>
    </div>
    <div class="row">
    <div class="col"><a class="button icon icon-right ion-cloud button-block button-small" href="#/tab/huffing">Huffing</a></div>
    <div class="col"><a class="button icon icon-right ion-happy button-block button-small" href="#/tab/warmsmiles">Warm smiles</a></div>
    </div>

    </ion-content>
    
    <img src="img/kevin_bak1.png" class="bg" >
    
    </ion-view>
    </script>

<!-- audio category pages START -->

<script id="templates/bodyslimes.html" type="text/ng-template">
    <ion-view view-title="Body Slimes">
    <ion-content class="padding">
    <p>Slimes and sour milk secretions from your body</p>
    <div class="row">
    <div class="col"><button ng-click="playAudio('areas-of-my-body.mp3')" class="button button-small button-dark">Body Areas</button></div>
  <div class="col"><button ng-click="playAudio('body-examined.mp3')" class="button button-small button-dark">Examine my Body</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('various-slimes.mp3')" class="button button-small button-dark">Various Slimes</button></div>
    <div class="col"><button ng-click="playAudio('live_meth_slamming.mp3')" class="button button-small button-dark">Live meth slamming</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('cantreach.mp3')" class="button button-small button-dark">Cant Reach</button></div>
    <div class="col"><button ng-click="playAudio('greases.mp3')" class="button button-small button-dark">Greases</button></div>
    </div>
    </ion-content>
    </ion-view>
</script>
<script id="templates/jammingfingers.html" type="text/ng-template">
    <ion-view view-title="Jamming Fingers">
    <ion-content class="padding">
    <p>Jamming your fingers in areas</p>
    <div class="row">
    <div class="col"><button ng-click="playAudio('touch-left-hand-only.mp3')" class="button button-small button-dark">Left Hand</button></div>
    <div class="col"><button ng-click="playAudio('berlusconi.mp3')" class="button button-small button-dark">Berlusconi</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('HI_DUNCAN.mp3')" class="button button-small button-dark">HI Duncan</button></div>
     <div class="col"><button ng-click="playAudio('frontbackhole.mp3')" class="button button-small button-dark">Front and back Hole</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('jamallfive.mp3')" class="button button-small button-dark">Jam all Five</button></div>
    <div class="col"><button ng-click="playAudio('twoholes.mp3')" class="button button-small button-dark">Two Holes</button></div>
    </div>
    </ion-content>
    </ion-view>
    </script>

<script id="templates/feet.html" type="text/ng-template">
    <ion-view view-title="Feet">
    <ion-content class="padding">
    <p>Everything regarding feet, examining feet and inspecting them.</p>
    <div class="row">
    <div class="col"><button ng-click="playAudio('father-foot-inspector.mp3')" class="button button-small button-dark">Foot Inspector</button></div>
    <div class="col"><button ng-click="playAudio('feet-slime.mp3')" class="button button-small button-dark">Feet Slime</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('inspect-your-feet.mp3')" class="button button-small button-dark">Inspect feet</button></div>
    <div class="col"><button ng-click="playAudio('toe-jobs.mp3')" class="button button-small button-dark">Good Toe Jobs</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('footcleaning.mp3')" class="button button-small button-dark">Foot Cleaning</button></div>
    <div class="col"><button ng-click="playAudio('lookandtouch.mp3')" class="button button-small button-dark">Look and Touch</button></div>
    </div>
    </ion-content>
    </ion-view>
    </script>
<script id="templates/cleaningareas.html" type="text/ng-template">
    <ion-view view-title="Cleaning Areas">
    <ion-content class="padding">
    <p>Cleaning areas of your body and areas of places.</p>
    <div class="row">
    <div class="col"><button ng-click="playAudio('stool-examined.mp3')" class="button button-small button-dark">Examine Stool</button></div>
    <div class="col"><button ng-click="playAudio('forduncan.mp3')" class="button button-small button-dark">Eat my Peanuts</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('bleedclean.mp3')" class="button button-small button-dark">Clean Bleeding</button></div>
    <div class="col"><button ng-click="playAudio('cleansurfaceareas.mp3')" class="button button-small button-dark">Clean Surface  Areas</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('sleepcleaning.mp3')" class="button button-small button-dark">Sleep Cleaning</button></div>
    <div class="col"><button ng-click="playAudio('yellowdirt.mp3')" class="button button-small button-dark">Yellow Dirt</button></div>
    </div>
    </ion-content>
    </ion-view>
    </script>

<script id="templates/ticklecloset.html" type="text/ng-template">
    <ion-view view-title="Tickle Closet">
    <ion-content class="padding">
    <p>The tickle closet.</p>
    <div class="row">
    <div class="col"><button ng-click="playAudio('secret-room-cellar.mp3')" class="button button-small button-dark">Secret Room</button></div>
    <div class="col"><button ng-click="playAudio('dont-enter-bedroom.mp3')" class="button button-small button-dark">Dont Enter</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('barelightbulb.mp3')" class="button button-small button-dark">Bare Lightbulb</button></div>
    <div class="col"><button ng-click="playAudio('creams.mp3')" class="button button-small button-dark">Creams</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('laughterscream.mp3')" class="button button-small button-dark">Laughter Scream</button></div>
    <div class="col"><button ng-click="playAudio('lockoutside.mp3')" class="button button-small button-dark">Lock Outside</button></div>
    </div>
    </ion-content>
    </ion-view>
    </script>
<script id="templates/sleeping.html" type="text/ng-template">
    <ion-view view-title="Sleeping">
    <ion-content class="padding">
    <p>Sleeping and watching sleeping bodies from far away and close by.</p>
    <div class="row">
    <div class="col"><button ng-click="playAudio('heygurl.mp3')" class="button button-small button-dark">Comedy at club54</button></div>
    <div class="col"><button ng-click="playAudio('12days.mp3')" class="button button-small button-dark">12 Days</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('differentsmells.mp3')" class="button button-small button-dark">Different Smells</button></div>
    <div class="col"><button ng-click="playAudio('donttouchfeet.mp3')" class="button button-small button-dark">Dont Touch Feet</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('letmedie.mp3')" class="button button-small button-dark">Let Me Die</button></div>
    <div class="col"><button ng-click="playAudio('moan.mp3')" class="button button-small button-dark">Moan</button></div>
    </div>
    </ion-content>
    </ion-view>
    </script>

<script id="templates/singing.html" type="text/ng-template">
    <ion-view view-title="Singing">
    <ion-content class="padding">
    <p>Singing graciously with constant eye contact.</p>
    <div class="row">
    <div class="col"><button ng-click="playAudio('club54.mp3')" class="button button-small button-dark">Comedy at club54</button></div>
    <div class="col"><button ng-click="playAudio('djhyper.mp3')" class="button button-small button-dark">DJ Hyper</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('djlazarus.mp3')" class="button button-small button-dark">DJ Lazarus</button></div>
    <div class="col"><button ng-click="playAudio('doo_sad.mp3')" class="button button-small button-dark">DOO Sad</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('raindrops.mp3')" class="button button-small button-dark">Raindrops</button></div>
    <div class="col"><button ng-click="playAudio('ticklewrither.mp3')" class="button button-small button-dark">Tickle Writhe</button></div>
    </div>
    </ion-content>
    </ion-view>
    </script>
<script id="templates/watchingafar.html" type="text/ng-template">
    <ion-view view-title="Watching from Afar">
    <ion-content class="padding">
    <p>Watching people from far away.</p>
    <div class="row">
    <div class="col"><button ng-click="playAudio('basementwindow.mp3')" class="button button-small button-dark">Basement Window</button></div>
    <div class="col"><button ng-click="playAudio('bodytypes.mp3')" class="button button-small button-dark">Body Types</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('heartrate.mp3')" class="button button-small button-dark">Heart Rate</button></div>
    <div class="col"><button ng-click="playAudio('tapping.mp3')" class="button button-small button-dark">Tapping</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('uncomfortable.mp3')" class="button button-small button-dark">Uncomfortable</button></div>
    <div class="col"><button ng-click="playAudio('watchingfaraway.mp3')" class="button button-small button-dark">Watching Far Away</button></div>
    </div>
    </ion-content>
    </ion-view>
    </script>

<script id="templates/huffing.html" type="text/ng-template">
    <ion-view view-title="Huffing">
    <ion-content class="padding">
    <p>Huffing smells, scents and auras.</p>
    <div class="row">
    <div class="col"><button ng-click="playAudio('hotstinky.mp3')" class="button button-small button-dark">Hot Stinky</button></div>
    <div class="col"><button ng-click="playAudio('huffingsmell.mp3')" class="button button-small button-dark">Huffing Smell</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('huffslime.mp3')" class="button button-small button-dark">Huff Slime</button></div>
    <div class="col"><button ng-click="playAudio('huffwhiteout.mp3')" class="button button-small button-dark">Huffing Whiteout</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('passerby.mp3')" class="button button-small button-dark">Passerby</button></div>
    <div class="col"><button ng-click="playAudio('smelleyes.mp3')" class="button button-small button-dark">Smell Eyes</button></div>
    </div>
    </ion-content>
    </ion-view>
    </script>
<script id="templates/warmsmiles.html" type="text/ng-template">
    <ion-view view-title="Warm Smiles">
    <ion-content class="padding">
    <p>Smileing warmly to friends and strangers.</p>
    <div class="row">
    <div class="col"><button ng-click="playAudio('bradley-pussywillow.mp3')" class="button button-small button-dark">Pussy Willow</button></div>
    <div class="col"><button ng-click="playAudio('counting.mp3')" class="button button-small button-dark">Counting</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('good-boy.mp3')" class="button button-small button-dark">Good boy</button></div>
    <div class="col"><button ng-click="playAudio('greg.mp3')" class="button button-small button-dark">Greg</button></div>
    </div>
    <div class="row">
    <div class="col"><button ng-click="playAudio('smilefrown.mp3')" class="button button-small button-dark">Smile Frown</button></div>
    <div class="col"><button ng-click="playAudio('smilewarmly.mp3')" class="button button-small button-dark">Smile Warmly</button></div>
    </div>
    </ion-content>
    </ion-view>
    </script>

<!-- audio category pages END -->


<script id="templates/about.html" type="text/ng-template">
    <ion-view view-title="About">
    <ion-content class="padding">
    <h3>About Sez Kevvo</h3>
    <p>"Sez Kevvo" AKA "Kevin Sez" is a wonderful iphone and android app that contains an audio collection that offers insightful amazing clips.</p>
    <p>This app was created as an experiment into the divulgence of texturalizing and layering of spoken word and vocal pitch effects</p>
    </ion-content>
    </ion-view>
    </script>

<script id="templates/nav-stack.html" type="text/ng-template">
    <ion-view view-title="Tab Nav Stack">
    <ion-content class="padding">
    <p><img src="http://ionicframework.com/img/diagrams/tabs-nav-stack.png" style="width:100%"></p>
    </ion-content>
    </ion-view>
    </script>

<script id="templates/contact.html" type="text/ng-template">
    <ion-view title="Contact">
    <ion-content>
    <div class="list">
    <div class="item">
    Twitter : <a href="http://www.twitter.com/ogrekevin" target="_new">@Ogrekevin</a>
    </div>
    <div class="item">
    Web : <A href="http://www.friendlybearonskates.com" target="_new">www.friendlybearonskates.com</a>
    </div>
    </div>
    </ion-content>
    </ion-view>
    </script>






 </body>
</html>
