<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="js/ng-cordova.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
   <!-- <script src="js/painlessfs.js"></script> -->
   
    
    <script>
        /*
        var userfilename = "gftest.txt";
        var usersubfilename = "gfsubdirtest.txt";
        var userdir = cordova.file.applicationDirectory + "www/sounds"; // Default for iOS
        
    function onDeviceReady(){
        // Insert code here to set proper directory for devices other than iOS or Android.
        //console.log('zero');
        testDirectory();
    }
    function testDirectory(){
        console.log('one');
        var a = new DirManager(); // Initialize a Folder manager
        //a.create_r('folder_a/folder_b',Log('created successfully'));
        a.list('folder_a', Log('List'));
        //a.list('', Log('List'));
        //a.list('', Log('List'));
        //GapFile.readDirectory(userdir,displayDirectory,dirFail);

    }
    function displayDirectory(dirarr){
        console.log(JSON.stringify(dirarr));
    }
    function dirFail(){
        console.log('three');
    }
         */
    /*
    document.addEventListener("deviceready", onDeviceReady, false);
    function onDeviceReady(){
            // Insert code here to set proper directory for devices other than iOS or Android.
            //console.log('zero');
            var chooser = randomNoRepeats(['areas-of-my-body.mp3', 'body-examined.mp3', 'bradley-pussywillow.mp3', 'dont-enter-bedroom.mp3', 'father-foot-inspector.mp3', 'feet-slime.mp3', 'inspect-your-feet.mp3', 'lieing-down-sleeping.mp3', 'secret-room-cellar.mp3', 'stool-examined.mp3', 'toe-jobs.mp3', 'touch-left-hand-only.mp3', 'various-slimes.mp3']);
            console.log('random : ' + chooser());

    }
    
    function randomNoRepeats(array) {
        var copy = array.slice(0);
        return function() {
            if (copy.length < 1) { copy = array.slice(0); }
            var index = Math.floor(Math.random() * copy.length);
            var item = copy[index];
            copy.splice(index, 1);
            return item;
        };
    }
    */
        </script>
  </head>
 <body ng-app="starter">
<ion-pane>
<ion-header-bar class="bar-energized">
<h1 class="title">Kevin's Audio Room</h1>
</ion-header-bar>
<ion-content class="padding main">
<div ng-controller="AudioCtrl">
<div class="row">
<div class="col"><button ng-click="playRandAudio()" class="button button-full button-assertive">Play Random</button></div>
</div>
<!-- all mp3s here START -->
<div class="row">
<div class="col"><button ng-click="playAudio('secret-room-cellar.mp3')" class="button button-small button-dark">Secret Room</button></div>
<div class="col"><button ng-click="playAudio('stool-examined.mp3')" class="button button-small button-dark">Examine Stool</button></div>
<div class="col"><button ng-click="playAudio('areas-of-my-body.mp3')" class="button button-small button-dark">Body Areas</button></div>
<div class="col"><button ng-click="playAudio('body-examined.mp3')" class="button button-small button-dark">Examine my Body</button></div>
</div>
<div class="row">
<div class="col"><button ng-click="playAudio('bradley-pussywillow.mp3')" class="button button-small button-dark">Pussy Willow</button></div>
<div class="col"><button ng-click="playAudio('dont-enter-bedroom.mp3')" class="button button-small button-dark">Dont Enter</button></div>
<div class="col"><button ng-click="playAudio('father-foot-inspector.mp3')" class="button button-small button-dark">Foot Inspector</button></div>
<div class="col"><button ng-click="playAudio('feet-slime.mp3')" class="button button-small button-dark">Feet Slime</button></div>
</div>
<div class="row">
<div class="col"><button ng-click="playAudio('inspect-your-feet.mp3')" class="button button-small button-dark">Inspect feet</button></div>
<div class="col"><button ng-click="playAudio('toe-jobs.mp3')" class="button button-small button-dark">Good Toe Jobs</button></div>
<div class="col"><button ng-click="playAudio('touch-left-hand-only.mp3')" class="button button-small button-dark">Left Hand</button></div>
<div class="col"><button ng-click="playAudio('various-slimes.mp3')" class="button button-small button-dark">Various Slimes</button></div>
</div>
<!-- all mp3s here END -->

</div>
</ion-content>
</ion-pane>
 </body>
</html>
